# Ignorer le dossier de compilation CMake dans le sous-dossier code
code/build/

# Ignorer les exécutables et fichiers binaires et fichier OBJ car trop lourd pour git(au cas où ils traînent ailleurs)
*.o
*.out
*.so
*.OBJ
MeshViewer3D

# Ignorer la configuration locale de Visual Studio Code
.vscode/